<?xml version="1.0"?>
<packages>
    <package id="autohotkey_l" />
    <package id="chocolatey" />
    <package id="ctags" />
    <package id="curl" />
    <package id="Emacs" />
    <package id="f.lux" />
    <package id="Filezilla" />
    <package id="git" />
    <package id="golang" />
    <package id="msysgit" />
    <package id="nodejs" />
    <package id="poshgit" />
    <package id="rapidee" />
    <package id="vagrant" />
    <package id="virtualbox" />
    <package id="wget" />
    <package id="winmerge" />
    <package id="winscp" />
</packages>