<?xml version="1.0"?>
<packages>
    <package id="autohotkey_l" />
    <package id="Emacs" />
    <package id="Filezilla" />
    <package id="nodejs" />
    <package id="msysgit" />
    <package id="poshgit" />
    <package id="rapidee" />
    <package id="winmerge" />
    <package id="vagrant" />
    <package id="virtualbox" />
</packages>